.back-arrow-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: inherit;
}

.back-arrow {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.back-arrow:hover {
    transform: translateX(-5px);
}

@media (max-width: 768px) {
    .back-arrow-link {
        top: 10px;
        left: 10px;
    }

    .back-arrow {
        font-size: 20px;
    }
}